<!-- <mat-toolbar class="navbar">
  <ul>
    <li>
      <a routerLink="" routerLinkActive="router-link-active">EasyCook</a>
    </li>
    <li><a routerLink="auth/register">Inscription</a></li>
    <li><a routerLink="auth/login">Connexion</a></li>
  </ul>
</mat-toolbar> -->

<header (window:resize)="onResize($event)">
  <li>
    <a routerLink=""><h1>EasyCook</h1></a>
  </li>
  <!-- <img src="/assets/images/chef.webp" alt="" /> -->
  <!-- button only visible on mobile devices by the class "mobile-only". -->
  <button
    id="open-menu"
    class="mobile-only"
    (click)="showMenu()"
    aria-label="open menu"
    [attr.aria-hidden]="isMobile ? false : true"
  >
    <img src="/assets/icons/menu.png" alt="" />
  </button>
  <app-navbar id="navbar" class="desktop-only"></app-navbar>
</header>
