<nav class="navbar bg-dark navbar-expand-lg navbar-custom sticky-top py-4" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="">EasyCook</a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Collapsable content -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Chercher..." aria-label="Search" />
                <button class="btn btn-outline" type="submit"><i class="bi bi-search"></i></button>
            </form>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="recipes/all" routerLinkActive="active-link">Recettes</a>
                </li>
                <!-- User registration and login -->
                <ng-container *ngIf="!auth.isLoggedIn()">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="auth/register" routerLinkActive="active-link">Inscription</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="auth/login" routerLinkActive="active-link">Connexion</a>
                    </li>
                </ng-container>
                <!-- User registration and login -->
                <!-- User is logged in -->
                <ng-container *ngIf="auth.isLoggedIn()">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" routerLink="videos" routerLinkActive="active-link">Salons vidéos</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person-circle"></i> {{ auth.getUserDetails().username }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-lg-end">
                            <li>
                                <a class="dropdown-item" routerLink="/profile" routerLinkActive="active-link"
                                    ><i class="bi bi-gear"></i> Paramètres</a
                                >
                            </li>
                            <li>
                                <a class="dropdown-item" href="#"><i class="bi bi-journal-text"></i> Mes recettes</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#"><i class="bi bi-journal-bookmark-fill"></i> Recettes sauvegardées</a>
                            </li>
                            <li><hr class="dropdown-divider" /></li>
                            <li>
                                <a class="dropdown-item button" (click)="auth.logout()"
                                    ><i class="bi bi-box-arrow-right"></i> Déconnexion</a
                                >
                            </li>
                        </ul>
                    </li>
                </ng-container>
                <!-- End of user logged in-->
            </ul>
            <!-- <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
        </div>
        <!-- Collapsable content -->
    </div>
</nav>
