.nav-link {
    color: white;
}

.button {
    cursor: pointer;
}

.active-link {
    color: #e91e63;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.25rem;
}

.navbar .nav-item .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #e91e63;
    transition: all 0.3s ease;
    border-radius: 0.25rem;
    //color: #fff;
}

a {
    text-decoration: none;
}

.btn {
    color: #e91e63;
    border-color: #e91e63;
}
.btn:hover {
    background-color: #e91e63;
    color: white;
}
