<!-- <mat-card class="example-card" (click)="onClickCard()">
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>{{ recipeCard.title }}</mat-card-title>
            <mat-card-subtitle>Par: {{ recipeCard.author }}</mat-card-subtitle>
            <img mat-card-lg-image src="assets/images/hat.png" />
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content> {{ recipeCard.rating }} {{ recipeCard.total_comments }} {{ recipeCard.estimated_time }}</mat-card-content>
</mat-card> -->
<div class="card">
    <article class="recipe">
        <div class="pizza-box">
            <img [src]="recipeCard.cover ? recipeCard.cover : 'assets/images/hat.png'" />
        </div>
        <div class="recipe-content">
            <p class="recipe-tags">
                <!-- <span class="recipe-tag">Gluten Free</span> -->
                <span class="recipe-tag">{{ recipeCard.category }}</span>
            </p>

            <h1 class="recipe-title">
                <a href="#">{{ recipeCard.title }}</a>
            </h1>

            <p class="recipe-metadata">
                <span class="recipe-rating">{{ recipeCard.rating }}★★★★<span>☆</span></span>
                <ngb-rating [(rate)]="currentRate" [starTemplate]="heart" [readonly]="true" [max]="5"></ngb-rating>
                <span class="recipe-votes">({{ recipeCard.total_comments }} votes)</span>
            </p>

            <p class="recipe-desc">
                {{ recipeCard.resume }}
            </p>

            <button class="recipe-save" type="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#000000">
                    <path
                        d="M 6.0097656 2 C 4.9143111 2 4.0097656 2.9025988 4.0097656 3.9980469 L 4 22 L 12 19 L 20 22 L 20 20.556641 L 20 4 C 20 2.9069372 19.093063 2 18 2 L 6.0097656 2 z M 6.0097656 4 L 18 4 L 18 19.113281 L 12 16.863281 L 6.0019531 19.113281 L 6.0097656 4 z"
                        fill="currentColor"
                    />
                </svg>
                Save
            </button>
        </div>
    </article>
</div>
