<div class="center">
  <mat-card class="main-form">
    <mat-card-title>Connexion</mat-card-title>
    <mat-card class="form-card">
      <mat-card-subtitle>Informations personnelles</mat-card-subtitle>
      <div class="form-row">
        <mat-form-field appearance="fill">
          <mat-label>Nom d'utilisateur</mat-label>
          <input
            type="text"
            matInput
            name="username"
            [(ngModel)]="credentials.username"
            required
          />
          <mat-error>Ce champ est requis</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Mot de passe</mat-label>
          <input
            type="password"
            matInput
            name="password"
            [(ngModel)]="credentials.password"
            required
          />
          <mat-error>Ce champ est requis</mat-error>
        </mat-form-field>
      </div>
    </mat-card>
    <small class="error-text" *ngIf="showRequestError">{{
      requestError
    }}</small>
    <mat-card-actions>
      <button (click)="login()" mat-flat-button>Se connecter</button>
    </mat-card-actions>
    <small class="tip"
      >Pas encore inscrit ?
      <a routerLink="/auth/register">Créez un compte ici</a></small
    >
  </mat-card>
</div>
